@import url(http://fonts.googleapis.com/css?family=Indie+Flower);

* {
	border-radius: 20px;
}

html {
	border-radius: 0px;
}

body {
	margin: 0px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	border: 0px solid #000;
	border-radius: 0px;
	background-color: #003399;
	color: #000;
}

a {
	color: #00B7FF;
}

input:hover, a:hover{
	cursor: pointer;
}

#title-bar {
	padding: 20px;
	margin-top: 0px;
	margin-bottom: 20px;
	border-radius: 0px;
	font-family: 'Indie Flower', cursive;
	font-size: 50px;
	text-align: center;
	color: #FFF;
	background: linear-gradient(#000, #777);
	width: 100%;
	height: 60px;
}

#content {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

#room, #name {
	background-color: #ddd;
	padding: 5px;
	margin-bottom: 1em;
	text-align: center;
}

#messages {
	width: 690px;
	height: 300px;
	overflow: auto;
	background-color: #eee;
	padding: 5px;
	margin-bottom: 1em;
	margin-right: 10px;
}

#room-list {
	float: right;
	width: 100px;
	height: 300px;
	overflow: auto;
}

#room-list div {
	border: 1px solid #EEE;
	background-color:#FFFF00;
	padding: 5px;
	text-align: center;
}

#room-list div:hover {
	background-color: #DDD;
	cursor: pointer;
}

#send-message {
	width: 700px;
	margin-bottom: 1em;
	margin-right: 1em;
	padding: 5px;
}

#help, #footer {
	font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
	color: #FFF;
}

#footer {
	border-top: 2px solid #CCC;
	border-radius: 0px;
	padding-top: 5px;
	text-align: center;
}
